{% extends 'mainapp/base.html' %}
{% load static %}
{% block menu %}
		<div class="hero-white">
			<div class="header clearfix">
				<a href="/" class="logo"></a>
                {% include 'mainapp/includes/inc_main_menu.html' %}
			</div>
		</div>
{% endblock %}
{% block content %}
		<div class="details">
			<div class="links clearfix">
                {% include 'mainapp/includes/inc_categories_menu.html' %}
			</div>

			<div class="details-products">
				<div class="details-slider">
					<div class="slider-product">
						<img class="main_product_img" src= '/media/{{ main_product.image }}'>
					</div>
					<div class="slider-control">
						<div class="block">
							<a href="#"><img class="controll_img" src= '/media/{{ main_product.image }}' alt="">
								<div class="text"></div>
							</a>
						</div>
						<div class="block">
							<a href="#"><img class="controll_img" src= '/media/{{ main_product.image }}' alt="">
								<div class="text"></div>
							</a>
						</div>
						<div class="block">
							<a href="#"><img class="controll_img" src= '/media/{{ main_product.image }}' alt="">
								<div class="text"></div>
							</a>
						</div>
					</div>
				</div>

				<div class="description">
					<h3 class="big-bold">{{ main_product.name }}</h3>
					<h3 class="red">горячее предложение</h3>
					<p class="price"> {{ main_product.price }} <span>руб</span></p>
					<a href="{% url 'basket:add' main_product.pk %}" class="red-button">
						заказать <i class="fa fa-chevron-right" aria-hidden="true"></i>
					</a>
					<div class="description-text">
						<p>{{ main_product.description }}</p>
					</div>
				</div>
			</div>

			<div class="related">
				<div class="title clearfix">
					<h2>Похожие продукты</h2>
					<a class="explore" href="#">показать все <img src= {% static 'img/arrow.png' %} alt=""></a>
				</div>
				<div class="related-products clearfix">
					{% for product in same_products %}
                    <div class="block">
						<a href="{% url 'mainapp:product' 17 %}"><img src= '/media/{{ product.image }}' alt="">
							<div class="text">
								<img src= {% static 'img/icon-hover.png' %} alt="img">
								<h4>{{ product.name }}</h4>
								<p>{{ product.description}} </p>
							</div>
						</a>
					</div>
                    {% endfor %}
				</div>
			</div>
		</div>
{% endblock %}
